// font color
$font-black-full: #444444;
$font-white: #ffffff;
$font-blue: #4a90e2;
$font-gray: #666666;
$font-gray-light: #dfe0ea;
$black-50: #777777;
$black-30: #9b9b9b;
$font-red: #d4304a;
$font-red-validation: #d82943;
$font-black-validation: #444444;
$font-purple: #372f51;
$dark-full: #37314f;
$purple-30: #d2d1e0;
$purple-50: #9290a4;
$purple-60: #3b3455;
$link-blue: #4a90e2;
$dark-gray: #717171;

$input-text-border: #bdbdbd;

// font size
$medium-font-size: 13px;
$large-font-size: 18px;
$font-size-form-input: 15px;
$font-size-buttons: 16px;

//background
$background: #ffffff;
$background-hover: #dbdee8;
$purple-dark-full: #373050;
$background-empty: #edeff5;
$side-menu-item-hover: #241e37;
$warning-message-header-red: #d82d49;
$lighter-blue: #4a90e2;
$light-blue: #3879c4;
$glow-green: #38d87d;
$search-box-gray: #dfe0ea;
$light-purple: #F6F7FA;

//checkbox
$checkbox-background: #edeff5;
$checkbox-hover: #9b9b9b;
$anchor: #4a90e2;

//borders
$main-portal-border: #cccccc;
$border-grey: #d5d5d5;
$border-grid-seperator: #d9d9e5;
$textbox-bottom-focus: #9b9b9b;
$tabs-bottom-line: #d2d0df;
$border-purple-30: #d2d1e0;
$border-dark-gray: #979797;

// fonts
$font-type: 'Roboto';
$splash-font-type: 'Axiforma';

$transition: all 0.25s;