;registry=http://cx-artifactory:8081/artifactory/api/npm/cx-npm/
;@babel:registry=https://registry.npmjs.org
;@types:registry=https://registry.npmjs.org


//registry.npmjs.org/:_authToken=7ff16d43-2a3b-4c77-83ae-2e6fcc0c5d30